SystemID => 17,

# ---------------------------------------------------- #
# database settings                                    #
# ---------------------------------------------------- #

DatabaseHost => 'localhost',
Database     => 'kix18',
DatabaseUser => 'kix18',
DatabasePw   => 'kix18',         # The password of database user. You also can use bin/kix.Console.pm for crypted passwords
DatabaseDSN  => "DBI:Pg:dbname=<KIX_CONFIG_Database>;host=<KIX_CONFIG_DatabaseHost>;",

# ---------------------------------------------------- #
# insert your own config settings "here"               #
# ---------------------------------------------------- #
CheckMXRecord => 0,
SecureMode    => 1,
FQDN          => '__FQDN__',
Home          => '/opt/kix18',
